development:
  adapter: postgresql
  encoding: utf8
  database: triang_development
  pool: 5
  username: postgres
  password: postgres
  host: localhost
  port: 5432

test:
  adapter: postgresql
  encoding: utf8
  database: triang_test
  pool: 5
  username: postgres
  password:

production:
  adapter: postgresql
  encoding: utf8
  database: triang_production
  pool: 5
  username: postgres
  password:
